<%= simple_form_for(@abundance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.text_area :notes %>
  </div>
  <div class="field">
   <%= f.label :flag, "Do you Want to flag this record for importance?" %><br>
    <%= f.check_box :flag %><br>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
