<%= simple_form_for(@sample) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :bcr_patient_uuid %>
    <%= f.input :file_name %>
    <%= f.input :folder_name_from_manifest %>
    <%= f.input :sample_id %>
    <%= f.input :form_completion_date %>
    <%= f.input :histologic_diagnosis %>
    <%= f.input :prospective_collection %>
    <%= f.input :retrospective_collection %>
    <%= f.input :gender %>
    <%= f.input :birth_days_to %>
    <%= f.input :race %>
    <%= f.input :ethnicity %>
    <%= f.input :history_other_malignancy %>
    <%= f.input :history_neoadjuvant_treatment %>
    <%= f.input :initial_pathologic_dx_year %>
    <%= f.input :ajcc_staging_edition %>
    <%= f.input :ajcc_tumor_pathologic_pt %>
    <%= f.input :ajcc_nodes_pathologic_pn %>
    <%= f.input :ajcc_metastasis_pathologic_pm %>
    <%= f.input :ajcc_pathologic_tumor_stage %>
    <%= f.input :residual_tumor %>
    <%= f.input :lymph_nodes_examined %>
    <%= f.input :lymph_nodes_examined_count %>
    <%= f.input :lymph_nodes_examined_he_count %>
    <%= f.input :lymph_nodes_examined_ihc_count %>
    <%= f.input :vital_status %>
    <%= f.input :last_contact_days_to %>
    <%= f.input :death_days_to %>
    <%= f.input :tumor_status %>
    <%= f.input :cea_level_pretreatment %>
    <%= f.input :specimen_non_node_tumor_deposits %>
    <%= f.input :circumferential_resection_margin_crm %>
    <%= f.input :vascular_invasion_indicator %>
    <%= f.input :lymphovascular_invasion_indicator %>
    <%= f.input :perineural_invasion %>
    <%= f.input :microsatellite_instability %>
    <%= f.input :loci_tested_count %>
    <%= f.input :loci_abnormal_count %>
    <%= f.input :mismatch_rep_proteins_tested_by_ihc %>
    <%= f.input :mismatch_rep_proteins_loss_ihc %>
    <%= f.input :kras_gene_analysis_indicator %>
    <%= f.input :kras_mutation_found %>
    <%= f.input :kras_mutation_codon %>
    <%= f.input :braf_gene_analysis_indicator %>
    <%= f.input :braf_gene_analysis_result %>
    <%= f.input :history_other_malignancy %>
    <%= f.input :history_colon_polyps %>
    <%= f.input :colon_polyps_at_procurement_indicator %>
    <%= f.input :weight_kg_at_diagnosis %>
    <%= f.input :height_cm_at_diagnosis %>
    <%= f.input :family_history_colorectal_cancer %>
    <%= f.input :radiation_treatment_adjuvant %>
    <%= f.input :pharmaceutical_tx_adjuvant %>
    <%= f.input :treatment_outcome_first_course %>
    <%= f.input :new_tumor_event_dx_indicator %>
    <%= f.input :age_at_initial_pathologic_diagnosis %>
    <%= f.input :anatomic_neoplasm_subdivision %>
    <%= f.input :clinical_M %>
    <%= f.input :clinical_N %>
    <%= f.input :clinical_T %>
    <%= f.input :clinical_stage %>
    <%= f.input :days_to_initial_pathologic_diagnosis %>
    <%= f.input :days_to_patient_progression_free %>
    <%= f.input :days_to_tumor_progression %>
    <%= f.input :disease_code %>
    <%= f.input :eastern_cancer_oncology_group %>
    <%= f.input :extranodal_involvement %>
    <%= f.input :icd_10 %>
    <%= f.input :icd_o_3_histology %>
    <%= f.input :icd_o_3_site %>
    <%= f.input :informed_consent_verified %>
    <%= f.input :initial_pathologic_diagnosis_method %>
    <%= f.input :karnofsky_performance_score %>
    <%= f.input :number_pack_years_smoked %>
    <%= f.input :patient_id %>
    <%= f.input :project_code %>
    <%= f.input :stage_other %>
    <%= f.input :stopped_smoking_year %>
    <%= f.input :tissue_source_site %>
    <%= f.input :tobacco_smoking_history %>
    <%= f.input :tumor_tissue_site %>
    <%= f.input :year_of_tobacco_smoking_onset %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
