<div>
  <% if @transplice.flag == TRUE %>
  <div class="alert alert-success">

  <td><strong><center> This Record Has Been Flagged as Important Please check the Notes Below!</center></strong><td>
  </div>
   <% else %>
   <% end %>
    
<div class="container"> 
<table class="table table-hover">
  <thead class="thead-dark">
  <td><strong>Transcript ID:</strong><td>
  
  <td><strong>Ensembl Gene Name:</strong><td>

<td><strong>Ensembl Gene ID:</strong><td>

<td><strong>Transcript Biotype:</strong><td>

<td><strong>Common Name:</strong><td>

</tr>
</thead>
<tr>
<% if @ensembl["display_name"].nil? %>
<td><%= "Not available" %><td>
<td><%= "Not available" %><td>
<td><%= "Not available" %><td>
<td><%= "Not available" %><td>

<% else %>
<td><%= @transplice.gene %><td>
<td><%= @ensembl["display_name"] %><td>
<td><%= @ensembl["id"] %><td>
<td><%= @ensembl["biotype"] %><td>
<% if @omim["omim"]["searchResponse"]["entryList"].nil? %>
<td><%= "Not available" %><td>
<% else %>

<td> <%= @omim["omim"]["searchResponse"]["entryList"]["entry"]["titles"]["preferredTitle"] %>
<% end %>
<% end %>
</tr>
<tr>
</thead>
</table>
<table class="table table-hover">
  <thead class="thead-dark">
  <th><center> Gene Summary Info:  </center></th>
  </thead>
 <% if  @ensembl["display_name"].nil? %> 	
 <td><center>  No Summary Available </center></td>
 <% else %>
 <% if @omim["omim"]["searchResponse"]["entryList"].nil? %>
 <td><center>  No Summary Available </center></td>
<%else%>
<% if !@omim["omim"]["searchResponse"]["entryList"]["entry"].include? "textSectionList" %>
<td><center>  No Summary Available </center></td>
<%else%>
 <td><center><%= @omim["omim"]["searchResponse"]["entryList"]["entry"]["textSectionList"]["textSection"]["textSectionContent"]%></center></td>
 <% end %>
<% end %>
<%end%>

</table>
<button type="button" class="btn btn-md btn-info collapsed" data-target="#ensembltranscript" data-toggle="collapse">Ensembl Transcript</button>
<div id ="ensembltranscript" class="collapse">
  <tr>
   <iframe src="http://www.ensembl.org/id/<%= @transplice.gene%>" width="1175" height="800"></iframe>
  </tr></div>
  <tr>

<button type="button" class="btn btn-md btn-info collapsed" data-target="#ensemblgene" data-toggle="collapse">Ensembl Gene</button>
<div id ="ensemblgene" class="collapse">
  <tr>
   <iframe src="http://www.ensembl.org/id/<%=@ensembl["display_name"]%>" width="1175" height="800"></iframe>
  </tr></div>

</tr>
</td>
<button type="button" class="btn btn-md btn-info collapsed" data-toggle="collapse" data-target="#demo1">Pathway Analysis</button>
<div id ="demo1" class="collapse">
  <tr>
<tr>

  <strong>Pathway Analyses for</strong>
  <% if @ensembl["display_name"].nil?  %>
<td><%= "Not available" %></td>
<% else %>
  <%= @ensembl["display_name"]%>
</p>
 <table class="table">
  <thead class="thead-dark">
    <tr>
<th> Name of Pathway<th>
<th> ID </th>

<% @wikis["result"].each do |wiki| %>
<tr>
  <td><%= wiki["name"]%><td>
  <td><a href="https://www.wikipathways.org/wpi/PathwayWidget.php?id=<%=wiki["id"]%>&label=<%=@ensembl["display_name"]%>&colors=red" target="frame"> <%=wiki["id"]%> </a></td>
  </tr>
  <% end %>
  <% end %>
</tr>
</table>
</tr></tr>
<iframe name="frame" id="frame" width="1175" height="1250"></iframe>
</div>
<button type="button" class="btn btn-md btn-info collapsed" data-toggle="collapse" data-target="#pub">Publications Relating to gene and Colorectal Cancer </button>
<div id ="pub" class="collapse">
  <div class="col-md-8 left">
  <iframe name="frame1" id="frame1" width="700" height="800"></iframe>
</div>
<div class="col-md-3 right">
  <table class="table">
  <thead class="thead-dark">


 <tr>
<% if @ensembl["display_name"].nil? %>
<td><%= "Not available" %></td>
</tr></tr></thead></table>
</div></div>
<% else %>
  <th> PMID </th>
   <% @pubs["esearchresult"]["idlist"].each do |pub| %>
<tr>
   
  <td><%= link_to pub,'https://www.ncbi.nlm.nih.gov/pubmed/' + pub, target: :_blank %><td>
<td><a href="http://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi?db=pubmed&retmode=text&rettype=abstract&id='<%=pub%>" target="frame1"> Click For Abstract </a></td>
  <% end %> 
  <% end %>
</tr></tr></thead></table>
</div></div>

 <button type="button" class="btn btn-md btn-info collapsed" data-toggle="collapse" data-target="#notes">Notes for <%=@ensembl["display_name"]%> </button>
<div id ="notes" class="collapse">
  <table class="table">
  <thead class="thead-dark">

  <% if @transplice.notes.nil? %>
  <div class="col-md-8 center">
  <td><strong><center> "No Notes found!"</td></strong></center>
</div>
  <% else %>
  <td><strong><center><%= @transplice.notes %></td></strong></center>
<%end%>
 </thead>
</table>
   <td><center><%= link_to 'Want to add a Note OR Flag this record? Click Here', edit_transplice_path(@transplice) %></td></center>
</div>
<td><center> Gene & Transcript View is provided by ensembl. NCBI esearch Utils & Wikipathways views are provided via respective API</center></td>

