<%= simple_form_for(@patient) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :FirstName %>
    <%= f.input :LastName %>
    <%= f.input :DOB %>
    <%= f.input :Genotype %>
    <%= f.input :Mutations %>
    <%= f.input :Treatment %>
    <%= f.input :Physician %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
