<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.FirstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.LastName %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.DOB %>
</p>

<p>
  <strong>Genotype:</strong>
  <%= @patient.Genotype %>
</p>

<p>
  <strong>Mutations:</strong>
  <%= @patient.Mutations %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @patient.Treatment %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @patient.Physician %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
