<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Enable Hover State on Bootstrap 3 Table Rows</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }
</style>
</head>
<body>
  <tr>
<%= search_form_for @search do |f| %>
    <%= f.label :name_cont, "Variant Search" %>
    <%= f.search_field :AAchange_or_genotype_or_drugrelation_or_information_cont_any, :Placeholder => ' Search by variant, genotype or drug' %>

  <%= f.submit "Search" %>
<% end %>
<br>
<h1>Listing Variants</h1>
<div class="bs-example">
    <table class="table table-hover">
  <thead>
   <thead>
    <tr>
      <th>Amino Acid change</th>
      <th>Genotype</th>
      <th>Drug relation</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <% @variants.each do |variant| %>
      <tr>
        <td><%= variant.AAchange %></td>
        <td><%= variant.genotype %></td>
        <td><%= variant.drugrelation %></td>
        <td><%= variant.information %></td>
        <td><%= link_to 'View', variant %></td>
      </tr>
    <% end %>
    </table>
</div>
</body>
</html>                               
