<p id="notice"><%= notice %></p>

<p>
  <strong>Aachange:</strong>
  <%= @variant.AAchange %>
</p>

<p>
  <strong>Genotype:</strong>
  <%= @variant.genotype %>
</p>

<p>
  <strong>Drugrelation:</strong>
 <% if @variant.drugrelation == "SIMEPRAVIR" %>
 	<%= link_to @variant.drugrelation, simeprivir_path %>
 <% elsif @variant.drugrelation == "PARITAPREVIR" %>
 	<%= link_to @variant.drugrelation, paritaprevir_path %>
 <% elsif @variant.drugrelation == "BOCEPRIVIR" %>
 	<%= link_to @variant.drugrelation, boceprivir_path %>
 <% elsif @variant.drugrelation == "TELAPREVIR" %>
 	<%= link_to @variant.drugrelation, telaprevir_path %>
 <% else %>
  	<%= link_to @variant.drugrelation, visitors_path %>
 <% end %>
</p>

<p>
  <strong>Information:</strong>
  <%= @variant.information %>
</p>

<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
