<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @splice.sample_id %>
</p>

<p>
  <strong>Ensembl:</strong>
  <%= @splice.ensembl %>
</p>

<p>
  <strong>Event:</strong>
  <%= @splice.event %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @splice.coordinates %>
</p>

<p>
  <strong>Dpsi:</strong>
  <%= @splice.dpsi %>
</p>

<p>
  <strong>Pval:</strong>
  <%= @splice.pval %>
</p>

<%= link_to 'Edit', edit_splice_path(@splice) %> |
<%= link_to 'Back', splices_path %>
