
<div class="container">
<div class="card">
  <h3 class="card-header"> <center> <font size="8" > Meta Data for <%= @sample.sample_id %></font> </center></h3> 
  <div class="card-block">
<div style="overflow: auto;background-color: #F5F5F5; border-radius:30px">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Bcr patient uuid</th>
      <th>File name</th>
      <th>Folder name from manifest</th>
      <th>TCGA_ID</th>
      <th>Form completion date</th>
      <th>Histologic diagnosis</th>
      <th>Prospective collection</th>
      <th>Retrospective collection</th>
      <th>Gender</th>
      <th>Birth days to</th>
      <th>Race</th>
      <th>Ethnicity</th>
      <th>History other malignancy</th>
      <th>History neoadjuvant treatment</th>
      <th>Initial pathologic dx year</th>
      <th>Ajcc staging edition</th>
     <th>Ajcc tumor pathologic pt</th>
     <th>Ajcc nodes pathologic pn</th>
      <th>Ajcc metastasis pathologic pm</th>
      <th>Ajcc pathologic tumor stage</th>
      <th>Residual tumor</th>
      <th>Lymph nodes examined</th>
      <th>Lymph nodes examined count</th>
      <th>Lymph nodes examined he count</th>
      <th>Lymph nodes examined ihc count</th>
      <th>Vital status</th>
      <th>Last contact days to</th>
      <th>Death days to</th>
      <th>Tumor status</th>
      <th>Cea level pretreatment</th>
      <th>Specimen non node tumor deposits</th>
      <th>Circumferential resection margin crm</th>
      <th>Vascular invasion indicator</th>
      <th>Lymphovascular invasion indicator</th>
      <th>Perineural invasion</th>
      <th>Microsatellite instability</th>
      <th>Loci tested count</th>
      <th>Loci abnormal count</th>
      <th>Mismatch rep proteins tested by ihc</th>
      <th>Mismatch rep proteins loss ihc</th>
      <th>Kras gene analysis indicator</th>
      <th>Kras mutation found</th>
      <th>Kras mutation codon</th>
      <th>Braf gene analysis indicator</th>
      <th>Braf gene analysis result</th>
      <th>History other malignancy</th>
      <th>History colon polyps</th>
      <th>Colon polyps at procurement indicator</th>
      <th>Weight kg at diagnosis</th>
      <th>Height cm at diagnosis</th>
      <th>Family history colorectal cancer</th>
      <th>Radiation treatment adjuvant</th>
      <th>Pharmaceutical tx adjuvant</th>
      <th>Treatment outcome first course</th>
      <th>New tumor event dx indicator</th>
      <th>Age at initial pathologic diagnosis</th>
      <th>Anatomic neoplasm subdivision</th>
      <th>Clinical m</th>
      <th>Clinical n</th>
      <th>Clinical t</th>
      <th>Clinical stage</th>
      <th>Days to initial pathologic diagnosis</th>
      <th>Days to patient progression free</th>
      <th>Days to tumor progression</th>
      <th>Disease code</th>
      <th>Eastern cancer oncology group</th>
      <th>Extranodal involvement</th>
      <th>Icd 10</th>
      <th>Icd o 3 histology</th>
      <th>Icd o 3 site</th>
      <th>Informed consent verified</th>
      <th>Initial pathologic diagnosis method</th>
      <th>Karnofsky performance score</th>
      <th>Number pack years smoked</th>
      <th>Patient</th>
      <th>Project code</th>
      <th>Stage other</th>
      <th>Stopped smoking year</th>
      <th>Tissue source site</th>
      <th>Tobacco smoking history</th>
      <th>Tumor tissue site</th>
      <th>Year of tobacco smoking onset</th>
</tr>
</thead>
 <tbody>
        <td><%= @sample.bcr_patient_uuid%></td>
        <td><%= @sample.file_name %></td>
        <td><%= @sample.folder_name_from_manifest %></td>
        <td><%= @sample.sample_id %></td>
        <td><%= @sample.form_completion_date %></td>
        <td><%= @sample.histologic_diagnosis %></td>
        <td><%= @sample.prospective_collection %></td>
        <td><%= @sample.retrospective_collection %></td>
        <td><%= @sample.gender %></td>
        <td><%= @sample.birth_days_to %></td>
        <td><%= @sample.race %></td>
        <td><%= @sample.ethnicity %></td>
        <td><%= @sample.history_other_malignancy %></td>
        <td><%= @sample.history_neoadjuvant_treatment %></td>
        <td><%= @sample.initial_pathologic_dx_year %></td>
        <td><%= @sample.ajcc_staging_edition %></td>
        <td><%= @sample.ajcc_tumor_pathologic_pt %></td>
        <td><%= @sample.ajcc_nodes_pathologic_pn %></td>
        <td><%= @sample.ajcc_metastasis_pathologic_pm %></td>
        <td><%= @sample.ajcc_pathologic_tumor_stage %></td>
        <td><%= @sample.residual_tumor %></td>
        <td><%= @sample.lymph_nodes_examined %></td>
        <td><%= @sample.lymph_nodes_examined_count %></td>
        <td><%= @sample.lymph_nodes_examined_he_count %></td>
        <td><%= @sample.lymph_nodes_examined_ihc_count %></td>
        <td><%= @sample.vital_status %></td>
        <td><%= @sample.last_contact_days_to %></td>
        <td><%= @sample.death_days_to %></td>
        <td><%= @sample.tumor_status %></td>
        <td><%= @sample.cea_level_pretreatment %></td>
        <td><%= @sample.specimen_non_node_tumor_deposits %></td>
        <td><%= @sample.circumferential_resection_margin_crm %></td>
        <td><%= @sample.vascular_invasion_indicator %></td>
        <td><%= @sample.lymphovascular_invasion_indicator %></td>
        <td><%= @sample.perineural_invasion %></td>
        <td><%= @sample.microsatellite_instability %></td>
        <td><%= @sample.loci_tested_count %></td>
        <td><%= @sample.loci_abnormal_count %></td>
        <td><%= @sample.mismatch_rep_proteins_tested_by_ihc %></td>
        <td><%= @sample.mismatch_rep_proteins_loss_ihc %></td>
        <td><%= @sample.kras_gene_analysis_indicator %></td>
        <td><%= @sample.kras_mutation_found %></td>
        <td><%= @sample.kras_mutation_codon %></td>
        <td><%= @sample.braf_gene_analysis_indicator %></td>
        <td><%= @sample.braf_gene_analysis_result %></td>
        <td><%= @sample.history_other_malignancy %></td>
        <td><%= @sample.history_colon_polyps %></td>
        <td><%= @sample.colon_polyps_at_procurement_indicator %></td>
        <td><%= @sample.weight_kg_at_diagnosis %></td>
        <td><%= @sample.height_cm_at_diagnosis %></td>
        <td><%= @sample.family_history_colorectal_cancer %></td>
        <td><%= @sample.radiation_treatment_adjuvant %></td>
        <td><%= @sample.pharmaceutical_tx_adjuvant %></td>
        <td><%= @sample.treatment_outcome_first_course %></td>
        <td><%= @sample.new_tumor_event_dx_indicator %></td>
        <td><%= @sample.age_at_initial_pathologic_diagnosis %></td>
        <td><%= @sample.anatomic_neoplasm_subdivision %></td>
        <td><%= @sample.clinical_M %></td>
        <td><%= @sample.clinical_N %></td>
        <td><%= @sample.clinical_T %></td>
        <td><%= @sample.clinical_stage %></td>
        <td><%= @sample.days_to_initial_pathologic_diagnosis %></td>
        <td><%= @sample.days_to_patient_progression_free %></td>
        <td><%= @sample.days_to_tumor_progression %></td>
        <td><%= @sample.disease_code %></td>
        <td><%= @sample.eastern_cancer_oncology_group %></td>
        <td><%= @sample.extranodal_involvement %></td>
        <td><%= @sample.icd_10 %></td>
        <td><%= @sample.icd_o_3_histology %></td>
        <td><%= @sample.icd_o_3_site %></td>
        <td><%= @sample.informed_consent_verified %></td>
        <td><%= @sample.initial_pathologic_diagnosis_method %></td>
        <td><%= @sample.karnofsky_performance_score %></td>
        <td><%= @sample.number_pack_years_smoked %></td>
        <td><%= @sample.patient_id %></td>
        <td><%= @sample.project_code %></td>
        <td><%= @sample.stage_other %></td>
        <td><%= @sample.stopped_smoking_year %></td>
        <td><%= @sample.tissue_source_site %></td>
        <td><%= @sample.tobacco_smoking_history %></td>
        <td><%= @sample.tumor_tissue_site %></td>
        <td><%= @sample.year_of_tobacco_smoking_onset %></td>

      <td><%= link_to 'Edit', edit_sample_path(@sample) %> </td>
      <td> <%= link_to 'Back', samples_path %></td>
    </tbody>
      </tr>
    </thead>
  </table>
</div>
</div>
<td><%= link_to 'Edit', edit_sample_path(@sample) %> </td>
  <td> <%= link_to 'Back', samples_path %></td>
<div class="container" >
<div class="card">
  <h3 class="card-header"> <center><font size="6" > Kallisto Abundance Counts for for <%= @sample.sample_id %></font></center> </h3> 
  <div class="card-block">
<%= search_form_for @search do |f| %>
<%= f.label "Expanded View Search For:" %>
    <%= f.search_field :sample_id_eq ,:Value => @sample.sample_id  %> </th>
<%= f.label "<- Dont Change The TCGA Value when searching" %>
    <%= f.search_field :target_id_eq, :Placeholder => ' search by ENSEMBLID' %>


  <%= f.submit "Search" %>
<% end %>
 <button type="button" class="btn btn-lg btn-info collapsed" data-toggle="collapse" data-target="#demo">Visualize</button>
<div id="demo" class="collapse"> 

<th><td> <%= pie_chart @sphigh.pluck(:target_id,:tpm),chart: {
        type: 'heatmap'}, title: "Top 50 Transcripts for This sample" %>
        <%= column_chart [
  {name: "TPM", data: @sphigh1k.pluck(:target_id, :tpm )}

  ],library: { chart: {zoomType: 'x'}},width: "1200px", title: "Top 1000 Transcripts in this sample"%>
       
</table>

</div>  
</div>



</div>
<div style="overflow: auto; height:500px;background-color:#F5F5F5; border-radius:30px; border">
  <table class="table table-hover">
  <thead class="thead-dark">
    <tr>
  <th> <%= sort_link @search, :sample_id,"TCGA_ID" %> <th>
  <th> <%= sort_link @search, :target_id, "ENSEMBLID" %> <th>
  <th> <%= sort_link @search, :length, "Length" %> <th>
  <th> <%= sort_link @search, :eff_length, "Effective Length" %> <th>
  <th> <%= sort_link @search, :est_counts, "Estimated Counts" %> <th>
  <th> <%= sort_link @search, :tpm, "Transcripts Per Million (TPM)" %> <th>
</tr>
</thead>

<% @sp.each do |abundance| %>

<tr>
    <td><%= abundance.sample_id %><td>
    <td><%= link_to abundance.target_id, '/abundances?utf8=✓&q%5Btarget_id_eq%5D=' + abundance.target_id+ '&commit=Search', target: :_blank %><td>
    <td><%= abundance.length %><td>
    <td><%= abundance.eff_length%><td>
    <td><%= abundance.est_counts%><td>
    <td><%= abundance.tpm%><td>
  <%  end %>

</tr>
</table>
</div>

<div class="container" >
<div class="card">
  <h3 class="card-header"> <center> <font size="6" > Transcript Level PSI Calcualtions for <%= @sample.sample_id %></font></center> </h3> 
  <div class="card-block">
  <div style="overflow: auto; height:500px;background-color:#F5F5F5; border-radius:30px; border">
  <table class="table table-hover">
  <thead class="thead-dark">  
<tr>
    <th> Gene <th>
  <th>  Transcript  <th>
  <th>  PSI  <th>
</tr>
<% @spSplice.each do |splice| %>

<tr>
  
    <td><%= link_to splice.gene, '/transplices?utf8=✓&q%5Bgene_eq%5D=' + splice.gene+ '&commit=Search', target: :_blank %><td>
    <td><%= splice.transcript %><td>
    <td><%= number_to_percentage(splice.psi * 100, precision: 0) %><td>
  <%  end %>
</thead> </table>