<%= simple_form_for(@sleuth) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :target_id %>
    <%= f.input :test_stat %>
    <%= f.input :pval %>
    <%= f.input :qval %>
    <%= f.input :rss %>
    <%= f.input :rsssigma_sq %>
    <%= f.input :tech_var %>
    <%= f.input :mean_obs %>
    <%= f.input :var_obs %>
    <%= f.input :sigma_sq_pmax %>
    <%= f.input :smooth_sigma_sq %>
    <%= f.input :final_sigma_sq %>
    <%= f.input :degrees_free %>
    <%= f.input :ens_gene %>
    <%= f.input :ext_gene %>
    <%= f.input :model %>
    <%= f.input :biotype %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
